* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.large-video {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.video-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-row-1,
.video-row-2 {
    width: 23%;
    float: left;
    overflow: hidden;
    margin-right: 2%;
    justify-content: space-around;
}


.video-row-2 {
    margin-right: 0;
    clear: right;
}