* {
    box-sizing: 
    border-box;
    margin: 0;
    padding: 0;
}

button {
    border-radius: 0px !important;
}

.large-video {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.video-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-row-1,
.video-row-2 {
    width: 23%;
    float: left;
    overflow: hidden;
    margin-right: 2%;
    justify-content: space-around;
}

.video-row-2 {
    margin-right: 0;
    clear: right;
}

/* functionality to hide/display page elements on inital page load */

.hide {display: none;}
.close {display: none;}

/* page design */

.container {font-family: 'Inter';}
.container h1 {
    border-bottom: 2px solid #000;
    font-size: 32px;
    font-weight:bold;
    letter-spacing: -1px;
    margin: 1em 0;
    padding: 0 0 8px;
}
#search-input {
    width: calc(100% - 88px);
    padding: 8px 16px;
    border: 1px solid #000;
}
.btn.search-button-class {
    border-radius: 0;
    width: 88px;
    margin: 0;
}
.recent-search {
    font-size: 12px;
    margin:16px 0;
}
.recent-search a {
    border: 1px solid #28a745;
    border-radius: 9px;
    color: #28a745;
    padding: 4px 12px;
}
.recent-search a:focus,
.recent-search a:hover {
    background: #28a745;
    color: #fff;
    text-decoration: none;
    border-color: transparent;
}

/* Wikipedia design elements */
#wikipedia-test {
    margin: 4em 0;
}
#wikipedia-test h2 {
    font-size: 48px;
    font-weight: bold;
    text-align:center;
    line-height: 1.4;
}
#wikipedia-test img {
    width: 400px;
    object-fit: cover;
    height: 400px;
    border-radius: 400px;
    float: right;
    margin: 0 0 12px 12px;
}
#wikipedia-test p {
    color: #121212;
}

/* breakpoints for mobile */
@media (max-width: 768px) {
    #wikipedia-test h2 {
        font-size: 40px;
    }
    #wikipedia-test img {
        display: block;
        margin: 0 auto 24px;
        float: none;
    }
    #wikipedia-test p {
        display: block;
    }
}
@media (max-width: 512px) {
    #wikipedia-test h2 {
        font-size: 32px;
    }
    #wikipedia-test img {
        height: 200px;
        width: 200px;
        
    }
}
/* modal styles */
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group-modal {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
}

.input-group-modal input {
    width: 80%;
    border: 1px solid black
}

.input-group-append-modal {
    width: 20%;
}

.input-group-append-modal  button{
    width: 100%;
}

.history-modal {
    display: flex;
    flex-direction: column;
}
